<h1 id='title'>Welcome To Your Salon</h1>

<div class='artwork-search-panel'>
  <div class='artwork-search-form'>
    <input type='text' class='art-search-input' placeholder='Artist, Location, Motif, Object, Keyword...'>
    <select class='artwork-source'>
      <option>Select A Source</option>
      <option value='met'>Met Museum</option>
      <option value='vam'>Victoria & Albert</option>
      <option value='rijks'>Rijksmuseum</option>
    </select>
    <button class='artwork-search-button'>Find Artwork</button>
    <button class='show-salon-wall'>Return To Salon Wall</button>
  </div>

  <div class='results-container'></div>
  <div class='image-inspector'></div>

  <div class='loading'>
    <h2>LOADING</h2>
  </div>
</div>

<div class='artwork-edit-panel'>
  <button class='return-to-search'>Search For Artwork</button>
  <button class='enter-edit-mode'>Edit Mode</button>
  <button class='exit-edit-mode'>Exit Edit Mode</button>
  <button class='save-salon-wall'>Save Wall</button>
</div>