<h1 id='title'>Welcome to the Oasis!</h1>
<input type='text' id='art-search-input'>
<button id='met-search-button'>Search Met</button>
<button id='vam-search-button'>Search V&A</button>
<button id='results-return'>Go Back To Results</button>
<div class='results-container'></div>
<h2 id='loading'>LOADING</h2>