.artwork-search-panel{
  display: none;
  .art-search-input{
    width: 250px;
  }
  .results-container{
    width: 100%;
    overflow: auto;
    img.thumb{
      width: 100px;
      margin: 10px;
    }
  }
  .image-inspector{
    visibility: hidden;
    overflow: auto;
    position: fixed;
    width: 75%;
    height: 70%;
    left: 13%;
    top: 20%;
    background: white;
    img.lookup{
      float: left;
      width: 50%;
    }
    h2{
      text-align: right;
    }
  }
  .loading{
    visibility: hidden;
    position: fixed;
    left: 45%;
    top: 45%;
  }
}

.artwork-edit-panel{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  img.salon{
    height: 100%;
    width: 100%
  }
  .resize-container{
    position: absolute;
    top: 25px;
    left: 25px;
    width: 300px;
  }
  .ui-resizable-handle{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 15px;
    height: 15px;
    background: white;
    border: 1px solid black;
  }
  .delete-button{
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    background: white;
    border: 1px solid black;
  }
  .exit-edit-mode{
    display: none;
  }
  .hover-info{
    position: absolute;
    width: 200px;
    display: none;
    background: white;
    p{
      font-size: 0.75em;
    }
  }
}

