.results-container{
  width: 100%;
  overflow: auto;
  img.thumb{
    width: 100px;
    margin: 10px;
  }
}

.item-inspector{
  visibility: hidden;
  overflow: auto;
  position: fixed;
  width: 75%;
  height: 70%;
  left: 13%;
  top: 20%;
  background: white;
  img.lookup{
    float: left;
    width: 50%;
  }
  h2{
    text-align: right;
  }
}

.go-back-results, .loading{
  visibility: hidden;
}

.loading{
  position: absolute;
  left: 50%;
  top: 50%;
}