.results-container{
  width: 100%;
  overflow: auto;
  img.thumb{
    width: 100px;
    margin: 10px;
  }
  img.lookup{
    width: 50%;
    margin: 10px 0 0 10px;
  }
}
.go-back-results, .loading{
  visibility: hidden;
}

.loading{
  position: absolute;
  left: 50%;
  top: 50%;
}