@import url(http://fonts.googleapis.com/css?family=Averia+Serif+Libre|Chivo);
$averia: 'Averia Serif Libre', serif;
$chivo: 'Chivo', sans-serif;
$faded-white: rgba(256, 256, 256, 0.5);

$welcome-button-font: white;
$button-background: rgba(256,256,256,0.5);
$title-color: white;

body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: $chivo;
}

.homepage{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 5000;
  background: url(/assets/big-gertrude.jpg);
  background-size: cover;
  .title{
    color: $title-color;
    font-family: $averia;
    font-size: 7.5em;
    text-align: center;
  }
  .welcome{
    margin: 0 auto;
    max-width: 400px;
    h1{
      text-align: center;
    }
    h2{
      margin: 0 auto;
      padding: 10px;
      font-size: 2em;
      display: inline-block;
      background: $button-background;
      border-radius: 3px;
    }
    a, a:visited{
      color: $welcome-button-font;
      text-decoration: none;
    }
    .login{
      float: left;
    }
    .signup{
      float: right;
    }
  }
}

.profile{
  position: fixed;
  width: 100%;
  height: 100%;
  .new-space-form{
    visibility: hidden;
  }
}

