@import url(https://fonts.googleapis.com/css?family=Averia+Serif+Libre|Chivo);
$averia: 'Averia Serif Libre', serif;
$chivo: 'Chivo', sans-serif;
$faded-black: rgba(0, 0, 0, 0.5);

.artwork-search-panel{
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: white;
  overflow: auto;
  .artwork-search-form{
    position: fixed;
    top: 2px;
    left: 2px;
    .art-search-input{
      width: 250px;
    }
  }
  .results-container{
    margin-top: 30px;
    width: 100%;
    overflow: auto;
    img.thumb{
      width: 100px;
      margin: 10px;
    }
  }
  .image-inspector{
    visibility: hidden;
    overflow: auto;
    position: fixed;
    left: 10%;
    top: 10%;
    width: 75%;
    height: 70%;
    padding: 25px;
    background: rgba(0,0,0,0.85);
    border-radius: 4px;
    color: white;
    img.lookup{
      float: left;
      width: 50%;
    }
    .item-info{
      float: right;
      width: 50%;
    }
    h2{
      font-weight: normal;
      font-size: 1em;
      margin-left: 30px;
      color: #888;
      span{
        display: block;
        margin-top: 10px;
        color: white;
        font-size: 1.8em;
        font-family: $averia;
      }
    }
    input{
      display: block;
      margin-top: 10px;
      background: none;
      border: none;
      border-radius: 2px;
      font-family: $averia;
      font-size: 1.8em;
      color: white;
    }
    button{
      background: black;
      border: none;
      border-radius: 3px;
      color: #888;
      font-family: $chivo;
      font-size: 1em;
      &:hover{
        color: white;
      }
    }
    .enter-artwork-editor{
      float: left;
      margin-left: 50px;
    }
    .close-inspector{
      float: right;
      margin-right: 50px;
    }
  }
  .loading{
    visibility: hidden;
    position: fixed;
    left: 45%;
    top: 45%;
  }
}

.artwork-edit-panel{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  img.salon{
    height: 100%;
    width: 100%
  }
  .resize-container{
    position: absolute;
    top: 25px;
    left: 25px;
    width: 300px;
  }
  .ui-resizable-handle{
    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotate(90deg);
  }
  .delete-button{
    position: absolute;
    top: 0;
    left: 0;
  }
  .resize-logo, .delete-logo{
    padding: 0 2px;
    background: $faded-black;
    border: none;
    border-radius: 2px;
    color: white;
    font-size: 1.3em;
    cursor: pointer;
  }
  .image-info{
    position: absolute;
    display: none;
    background: $faded-black;
    z-index: 3000;
    p{
      color: white;
      font-family: $averia;
      font-size: 1em;
      span{
        display: block;
        color: #aaa;
        font-family: $chivo;
        font-size: 0.9em;
      }
    }
  }
}
.edit-tools{
  position: fixed;
  top: 2px;
  left: 2px;
  z-index: 3000;
  .exit-edit-mode, .exit-inspect-mode, .zoom-in{
    display: none;
  }
}
.edit-tools button, .artwork-search-form button, .artwork-search-form input{
  padding: 3px;
  font-family: $chivo;
  font-size: 1em;
  color: white;
  background: $faded-black;
  border: none;
  border-radius: 2px;
}
.return-to-search{
  position: relative;
  top: 1px;
  margin-left: 2px;
  padding: 5px;
  width: 15px;
  height: 15px;
  z-index: 4000;
  background: $faded-black;
  border-radius: 2px;
  color: white;
}
.navigation{
  position: fixed;
  overflow: hidden;
  z-index: 3000;
  top: 2px;
  right: 2px;
  width: 25px;
  height: 25px;
  background: $faded-black;
  border: none;
  border-radius: 2px;
  font-family: $chivo;
  font-size: 1em;
  color: white;
  a, button{
    visibility: hidden;
    float: right;
    clear: right;
    &:active, &:hover, &:focus{
      background: none;
    }
  }
  a, a:visited, button{
    margin-right: 10px;
    padding: 2px;
    color: white;
    text-decoration: none;
    border: none;
    background: none;
    font-family: $chivo;
    font-size: 1em;
  }
  .choices{
    width: 100%;
    margin-top: 25px;
  }
}
.nav-button{
  position: fixed;
  top: 2px;
  right: 2px;
  padding: 5px;
  width: 15px;
  height: 15px;
  z-index: 4000;
  background: none;
  border-radius: 2px;
}
.wall-options{
  position: fixed;
  top: 15%;
  left: 25%;
  visibility: hidden;
  width: 300px;
  background: $faded-black;
  color: white;
  button input{
    font-family: $chivo;
    font-size: 1.1em;
    background: none;
    border: none;
    border-radius: 2px;
    color: white;
    &:hover, &:active{
      background: $faded-black;
    }
  }
}

button, input, i{
  &:active, &:hover, &:focus{
    border: none;
    outline: none;
  }
  &:active, &:hover{
    background: black;
  }
  transition: 0.2s;
}
